.contenedor {
    display: grid;
    grid-template-areas:
        'A A A A'
        'B B B B'
        'C C C C'
        'D D D D'
        'E E E E';

}


header {
    grid-area: A;
    background-color: #F6F1F1;
}

nav {
    grid-area: B;
    background-color: #19A7CE;
}

aside {
    grid-area: C;
    background-color: #146C94;
}

main {
    grid-area: D;
    background-color: #19A7CE;
}

footer {
    grid-area: E;
    background-color:#F6F1F1;
}
.centrado{
    text-align: center;
}

/*Menu*/
.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-horizontal a{
    background-color: black;
    color:white;
    text-decoration: none;
   padding: 10px  40px;
    margin: 4px;
    }
    .menu-aside{
        list-style: none;
        
    }

    .menu-aside a{
        text-decoration: none;
        padding: 10px  40px;
         margin: 4px;
         background-color: #F6F1F1;
         color:black;
         display: block;

    } 